{% extends 'base.html.twig' %}

{% block body %}
{% if not app.user %}
<p>Vous n'avez pas les droits necessaires pour accéder à ce contenu</p>
{% else %}
    <h1>
        {% if editMode %}
            Modifier un plat
        {% else %}
            Ajouter un plat
        {% endif %}
    </h1>

    {{ form_start(formPlat) }}
    {{ form(formPlat) }}
    {{ form_end(formPlat) }}
{% endif %}
{% endblock %}